* {
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-colour: black;
}

div {
    text-align: center;
    color: var(--main-bg-colour);
    font-size: 3rem;
    color: white;
}

header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    background: #777;
    align-self: stretch;
    -webkit-app-region: drag;
}

#content {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background: var(--main-bg-colour);
    align-items: center;
}

#text {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}

.option {
    color: var(--main-bg-colour);
    padding: 10px 25px;
    font-size: 1rem;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.option:hover {
    background: red;
}